.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    height:100%;
    align-content:stretch;
   }
   .parent-dom{
    flex-grow: 1;
    overflow: auto;
    height:100%;
    border: 1px solid red;}
    .child-dom{
      width:2100px;
      height: 1450px; 
      display: flex;
      justify-content: space-between;
      align-items: stretch;}
      .part{
        flex-basis: 50%;
      }
      .part1{
        border-right: 1px solid red;
        padding-right: 100px;
      }
      .part2{
        border-left: 1px solid red;
        padding-left: 100px;
      }